<section class="my-5">
   <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7">
        <div>
            <img src="./assets/Secure login-rafiki.svg" height="500" class="w-100" alt="Forgot Password">
        </div>
    </div>
    <div class="col-md-5 p-4 bg-main-light shadow rounded-2 mx-auto">
        <h2>Forgot Your Password ..?</h2>
        
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="my-3" *ngIf="isForgot">
            <div>
                <label for="email"><i class="fa-solid fa-envelope me-2"></i>Email</label>
                <input type="email" id="email" class="form-control mt-2" formControlName="email" #forgotPass>
                <div class="alert alert-danger mx-auto w-100 mt-2" *ngIf="forgotPasswordForm.get('email')?.errors&&(forgotPasswordForm.get('email')?.touched||forgotPass.value.length>0)">
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('email')?.getError('required')">Email Required</p>
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('email')?.getError('email')">Email InValid</p>
                </div>
            </div>
            
            <button class="btn-main w-100 my-3">Send Email</button>
            <div class="alert alert-danger" *ngIf="msgSuccessForgot" >
                <p class="mb-0 text-center">{{msgSuccessForgot}}</p>
            </div>
        </form>
        <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode(txt1,txt2,txt3,txt4,txt5,txt6)" class="my-3" *ngIf="isResetCode">
            
            <!-- <div>
                <label for="resetCode">ResetCode</label>
                <input type="text" id="resetCode" class="form-control mt-2" formControlName="resetCode" #resetCodeRef>
                <div class="alert alert-danger mx-auto w-100 mt-2" *ngIf="forgotPasswordForm.get('resetCode')?.errors&&(forgotPasswordForm.get('resetCode')?.touched||resetCodeRef.value.length>0)">
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('resetCode')?.getError('required')">ResetCode Required</p>
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('resetCode')?.getError('resetCode')">ResetCode InValid</p>
                </div>
            </div> -->
            <p class="">Please Check Your Email And Enter The Code ...</p>
                <div class="d-flex justify-content-center">
                    
                    <input type="text" class="form-control reset" maxlength="1" #txt1 (keyup)="keyCode($event,txt2)">
                    <input type="text" class="form-control reset" maxlength="1" #txt2 (keyup)="keyCode($event,txt3)">
                    <input type="text" class="form-control reset" maxlength="1" #txt3 (keyup)="keyCode($event,txt4)">
                    <input type="text" class="form-control reset" maxlength="1" #txt4 (keyup)="keyCode($event,txt5)">
                    <input type="text" class="form-control reset" maxlength="1" #txt5 (keyup)="keyCode($event,txt6)">
                    <input type="text" class="form-control reset" maxlength="1" #txt6 (keyup)="keyCode($event,resetButton)">
                </div>
            
            <button class="btn-main w-100 my-3" #resetButton>Reset Code</button>
            <div class="alert alert-danger" *ngIf="msgSuccessResetCode">
                <p class="mb-0 text-center">{{msgSuccessResetCode}}</p>
            </div>
        </form>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="my-3" *ngIf="isResetPassword">
            <div>
                <label for="newPassword">ResetPassword</label>
                <input type="password" id="newPassword" class="form-control mt-2" formControlName="newPassword" #resetPasswordRef>
                <div class="alert alert-danger mx-auto w-100 mt-2" *ngIf="forgotPasswordForm.get('newPassword')?.errors&&(forgotPasswordForm.get('newPassword')?.touched||resetPasswordRef.value.length>0)">
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('newPassword')?.getError('required')">ResetPassword Required</p>
                    <p class="mb-0" *ngIf="forgotPasswordForm.get('newPassword')?.getError('newPassword')">ResetPassword InValid</p>
                </div>
                
            </div>
            
            <button class="btn-main w-100 my-3">Reset Password</button>
            <div class="alert alert-danger" *ngIf="msgSuccessResetPassword">
                <p class="mb-0 text-center">{{msgSuccessResetPassword}}</p>
            </div>
        </form>
        
    </div>
   </div>
</section>