<section class="w-75 mx-auto my-5">
    <h1>Register Now :</h1>
    <form [formGroup]="registerFrom" (ngSubmit)="handleForm()">
        <div>
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control" #refName>
            <div class="alert alert-danger" *ngIf="registerFrom.get('name')?.errors&&(registerFrom.get('name')?.touched||refName.value.length>0)">
                <p *ngIf="registerFrom.get('name')?.getError('required')">Name Required</p>
                <p *ngIf="registerFrom.get('name')?.getError('minlength')">Name Min Length 3</p>
                <p *ngIf="registerFrom.get('name')?.getError('maxlength')">Name Max Length 20</p>
            </div>

        </div>
        <div>
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control" #refEmail>
            <div class="alert alert-danger" *ngIf="registerFrom.get('email')?.errors&&(registerFrom.get('email')?.touched||refEmail.value.length>0)">
                <p *ngIf="registerFrom.get('email')?.getError('required')">Email Required</p>
                <p *ngIf="registerFrom.get('email')?.getError('email')">Email InValid</p>
                
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control" #refPassword>
            <div class="alert alert-danger" *ngIf="registerFrom.get('password')?.errors&&(registerFrom.get('password')?.touched||refPassword.value.length>0)">
                <p *ngIf="registerFrom.get('password')?.getError('required')">Password Required</p>
                <p *ngIf="registerFrom.get('password')?.getError('pattern')">Password Must start With UpperCase Then from 6 to 20 Char</p>
                
            </div>
        </div>
        <div>
            <label for="rePassword">RePassword</label>
            <input formControlName="rePassword" type="password" id="rePassword" class="form-control" #refRePassword>
            <div class="alert alert-danger" *ngIf="registerFrom.get('rePassword')?.errors&&(registerFrom.get('rePassword')?.touched||refRePassword.value.length>0)">
                <p *ngIf="registerFrom.get('rePassword')?.getError('required')">RePassword Required</p>
                <p *ngIf="registerFrom.get('rePassword')?.getError('mismatch')">rePassword Not Matched Password</p>
                
            </div>
        </div>
        <div>
            <label for="phone">Phone</label>
            <input formControlName="phone" type="tel" id="phone" class="form-control" #refPhone>
            <div class="alert alert-danger" *ngIf="registerFrom.get('phone')?.errors&&(registerFrom.get('phone')?.touched||refPhone.value.length>0)" >
                <p *ngIf="registerFrom.get('phone')?.getError('required')">Phone Required</p>
                <p *ngIf="registerFrom.get('phone')?.getError('pattern')">Accept Only Egypt Phone Numbers</p>

            </div>
        </div>
        <button class="btn-main d-flex ms-auto my-3" [disabled]="registerFrom.invalid" >
            <i class="fas fa-spinner fa-spin my-auto me-3" *ngIf="isLoading"></i>
            Register
        </button>
        <div class="alert alert-danger" *ngIf="errMsg">
            <p>{{errMsg}}</p>
        </div>
    </form>
</section>
