<section class="bg-main-light py-5">
    <div class="container">
        <h3 class="fw-bold">Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app .</p>
        <div class="row">
            <div class="col-md-10">
                <div>
                    <input type="email" class="form-control" placeholder="Email ..">
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="ms-2">
                    <button class="btn btn-main">Share App Link</button>
                </div>
            </div>
            <hr>
            <div class="col-md-12 d-flex my-1">
                
                    <ul class="d-flex align-items-center me-auto">
                        <li>
                            <span>Payment Partners</span>
                        </li>
                        <li>
                            <i class="fa-brands fa-amazon"></i>
                        </li>
                        <li>
                            <img src="./assets/master.svg" alt="">
                        </li>
                        <li>
                            <img src="./assets/visa-1.svg" alt="">
                        </li>
                        <li>
                            <img src="./assets/visa.svg" alt="">
                        </li>
                    </ul>
                
                
                   
                
                
    
            </div>
            
        
        </div>
        <p class="text-center">© 2024 Mahmoud Ismail , All Rights Reserved</p>
    </div>
    
</section>