<section class="my-5">
    <div class="row g-0">
        <div class="col-md-9">
            <div>
                <owl-carousel-o [options]="mainSlider">
                    <ng-template carouselSlide><img src="./assets/main-slider-1.jpeg" class="w-100" height="450"></ng-template>  
                    <ng-template carouselSlide><img src="./assets/main-slider-2.jpeg" class="w-100" height="450"></ng-template>  
                    <ng-template carouselSlide><img src="./assets/main-slider-3.jpeg" class="w-100" height="450"></ng-template>  
                  </owl-carousel-o>
            </div>
        </div>
        <div class="col-md-3">
            <img src="./assets/slide-1.jpeg" class="w-100" height="225">
            <img src="./assets/slide-2.jpeg" class="w-100" height="225">
            
        </div>
    </div>

</section>
<!-- Categories Slider -->
<section class="my-4">
    <owl-carousel-o [options]="categoriesSlider">

        <ng-container *ngFor="let category of categories">
          <ng-template carouselSlide>
            <div>
                <img [src]="category.image" height="270" [alt]="category.name" [title]="category.name">
            <h2 class="h5 py-2">{{category.name}}</h2>
            </div>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
</section>
<!-- All Products -->
<section class="my-5" *ngIf="products?.length">

    <input type="search" placeholder="Search ..." class="form-control w-50 mx-auto my-3" [(ngModel)]="searchText">

    <h1>Popular Products</h1>

    <div class="row gy-4 gx-2 d-flex justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 position-relative overflow-hidden" *ngFor="let product of products|search:searchText">
            <div role="button" class="product">

                <header  [routerLink]="['/details',product._id]">
                    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                    <span class="text-main">{{product.category.name}}</span>
                    <p>{{product.title|cutText:2}}</p>
                    <div class="d-flex justify-content-between">
                    <span class="small">{{product.price|currency:'e£'}}</span>
                    <span class="small"> 
                        <i class="fa-solid fa-star" [class.rating-color]="product.ratingsAverage>=item" *ngFor="let item of [1,2,3,4,5]"></i>
                        {{product.ratingsAverage}}</span>
                           
                </div>
                
                </header>
                <footer>
                    <button class="add-btn btn-main w-100" (click)="addProductHomeToCart(product._id,element)" #element>Add To Cart</button>
                </footer>
                <i *ngIf="!productsIdInFav.includes(product._id)" class="fa-solid fa-heart-crack heartHome" (click)="addProductToFav(product._id)"></i> 
                <i *ngIf="productsIdInFav.includes(product._id)" class="fa-solid fa-heart heartHome" (click)="removeProductFromFav(product._id)"></i> 

            </div>
        </div>
    </div>

</section>