<section class="my-5">
    <div class="row d-flex justify-content-center align-items-center">
     <div class="col-md-7">
         <div>
             <img src="./assets/Operating system upgrade-pana.svg" height="500" class="w-100" alt="Forgot Password">
         </div>
     </div>
     <div class="col-md-5 p-4 bg-main-light shadow rounded-2 mx-auto">
         <h4 class="fw-bold">Change Your Password ..?</h4>
         <form [formGroup]="passwordChangeForm" (ngSubmit)="userPasswordChange()">
            <div>
                <label for="currentPassword">Current Password :</label>
                <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" #currentPasswordRef>
                <div class="alert alert-danger mt-2" *ngIf="passwordChangeForm.get('currentPassword')?.errors&&(passwordChangeForm.get('currentPassword')?.touched||currentPasswordRef.value.length>0)">
                    <p *ngIf="passwordChangeForm.get('currentPassword')?.getError('required')">Current Password Required</p>
                    <p *ngIf="passwordChangeForm.get('currentPassword')?.getError('pattern')">Current Password Must start With UpperCase Then from 6 to 20 Char</p>
                </div>
            </div>
            <div>
                <label for="password">Password :</label>
                <input type="password" class="form-control" id="password" formControlName="password" #passwordRef>
                <div class="alert alert-danger mt-2" *ngIf="passwordChangeForm.get('password')?.errors&&(passwordChangeForm.get('password')?.touched||passwordRef.value.length>0)">
                    <p *ngIf="passwordChangeForm.get('password')?.getError('required')">Password Required</p>
                    <p *ngIf="passwordChangeForm.get('password')?.getError('pattern')">Password Must start With UpperCase Then from 6 to 20 Char</p>
                </div>
            </div>
            <div>
                <label for="rePassword">Re-Password :</label>
                <input type="password" class="form-control" id="rePassword" formControlName="rePassword" #rePasswordRef>
                <div class="alert alert-danger mt-2" *ngIf="passwordChangeForm.get('rePassword')?.errors&&(passwordChangeForm.get('rePassword')?.touched||rePasswordRef.value.length>0)">
                    <p *ngIf="passwordChangeForm.get('rePassword')?.getError('required')">Re-Password Required</p>
                    <p *ngIf="passwordChangeForm.get('rePassword')?.getError('msgConfirm')">Re-Password Not Matched</p>
                </div>
            </div>
            <button class="btn-main w-100 mt-4" [disabled]="passwordChangeForm.invalid">
                <i class="fas fa-spinner fa-spin my-auto me-3" *ngIf="isLoading"></i>
                Change Password
            </button>
            <div class="alert alert-danger mt-2" *ngIf="failedMassage">
                {{failedMassage}}
            </div>
         </form>
         
         
         
     </div>
    </div>
 </section>