<section class="my-5" *ngIf="products.length>0">

    

    <h1>Favorite Products</h1>

    <div class="row gy-4 gx-2">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 position-relative overflow-hidden" *ngFor="let product of products">
            <div role="button" class="product">

                <header  [routerLink]="['/details',product._id]">
                    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                    <span class="text-main">{{product.category.name}}</span>
                    <p>{{product.title|cutText:2}}</p>
                    <div class="d-flex justify-content-between">
                    <span class="small">{{product.price|currency:'e£'}}</span>
                    <span class="small"> 
                        <i class="fa-solid fa-star" [class.rating-color]="product.ratingsAverage>=item" *ngFor="let item of [1,2,3,4,5]"></i>
                        {{product.ratingsAverage}}</span>
                           
                </div>
                
                </header>
                <footer>
                    <button class="add-btn btn-main w-100" (click)="addProductHomeToCart(product._id,element)" #element>Add To Cart</button>
                </footer>
                <i *ngIf="productsIdInFav.includes(product._id)" class="fa-solid fa-heart heartHome" (click)="removeProductFromFav(product._id)"></i> 

            </div>
        </div>
    </div>

</section>
