<section class="w-75 mx-auto ordersSection bg-main-light rounded-4">
    <h2 class="text-center pt-4">All Orders <span class="badge bg-info">{{allOrders.length}}</span></h2>
    <div class="row d-flex align-content-center shadow-lg my-4 rounded-3 border border-success py-4" *ngFor="let order of allOrders,index as ind">
        <span class="mb-2 fw-bold">Order : {{ind+1}}</span>
        <div class="col-md-8" *ngFor="let product of order.cartItems">
            <div class="row d-flex align-items-center">
                <div class="col-md-2">
                    <div>
                        <img [src]="product.product.imageCover" height="100" class="w-100" [alt]="product.product.title">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="d-flex justify-content-between">
                        <h5 class="text-main">{{product.product.title|cutText:3}}</h5>
                    <div class="d-flex flex-column">
                        <span>Count : <span>{{product.count}}</span></span>
                    <span>Price : <span>{{product.price|currency:'e£'}}</span></span>
                    </div>
                    </div>
                </div>


                <!-- <div class="d-flex flex-column">
                    <img [src]="product.product.imageCover" class="w-100" [alt]="product.product.title">
                    <h5 class="text-main">{{product.product.title|cutText:3}}</h5>
                    <span>Count : <span>{{product.count}}</span></span>
                    <span>Price : <span>{{product.price|currency:'e£'}}</span></span>
                </div> -->
            </div>
        </div>
        
        <div class="col-md-4 d-flex justify-content-center align-content-center">
            <div class="p-4 rounded-4 shadow-lg">
                <p>Is Delivered : <span class="falseDel" [ngClass]="{'bg-success': order.isDelivered,'bg-danger':!order.isDelivered}">{{order.isDelivered?'Yes':'No'}}</span></p>
                <p>Is Paid : <span class="falseDel" [ngClass]="{'bg-success': order.isPaid,'bg-danger':!order.isPaid}">{{order.isPaid?'Yes':'No'}}</span></p>
                <p>Payment Method Type : <span>{{order.paymentMethodType}}</span></p>
                <p>Total Order Price : <span>{{order.totalOrderPrice}}</span></p>
    
            </div>
        </div>

        
        
    </div>
    
</section>